.paranja {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
}

.page-theme_light .paranja {
    background-color: rgba(255, 255, 255, .8);
}

.paranja_visible {
    display: block;
}
