.main-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.main-menu__list {
    padding: 0;
    margin: 0;
}

.main-menu__item {
    display: inline-block;
    margin-right: 20px;
    white-space: nowrap;
    list-style-type: none;
}

.main-menu__link {
    padding-bottom: 4px;
    border-bottom: 2px solid #111;
}

.main-menu__link:link,
.main-menu__link:visited,
.main-menu__link:hover,
.main-menu__link:active {
    color: white;
    text-decoration: none;
}

body.hover_yes .main-menu__link:hover, .main-menu__item_selected .main-menu__link {
    border-bottom: 2px solid white;
}
