.keycode {
    margin: 20px 0;
}

.keycode__description {
    margin: 1em 0;
}

.keycode__key {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    color: black;
}

.keycode__key_pressed {
    background-color: gold;
    left: 2px;
    top: 2px;
}

.keycode__keydown {
    margin-top: 15px;
}
