.codec-details__list {
    margin: 5px 0 0 0;
    padding: 0 0 0 15px;
}

.codec-details__item {
    list-style-type: disc;
    margin: .3em 0;
    padding: 0;
}

.codec-details__types {
    margin-top: 5px;
    border-top: 1px solid #ccc;
    padding-top: 5px;
}

.codec-details code {
    font-size: 13px;
    font-style: normal;
    padding: 4px 6px;
    background-color: #eee;
    border-radius: 4px;
}
