.lang-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background: no-repeat center center;
    background-size: 100% 100%;
}

.lang-icon_lang_ru {
    background-image: url('/static/icons/flags/ru.svg');
}

.lang-icon_lang_en {
    background-image: url('/static/icons/flags/en.svg');
}
