.button {
    background: white;
    color: black;
    font-size: 16px;
    line-height: 1.5em;
    border-radius: 5px;
    padding: 5px 7px;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.button:active {
    transform: scale(0.98);
}

body.hover_yes .button:hover {
    background: #eee;
}

.button_theme_active {
    background: #ffd700;
}

body.hover_yes .button_theme_active:hover {
    background: #efc700;
}

.button_theme_red {
    background: red;
    color: white;
}

body.hover_yes .button_theme_red:hover {
    background: #ef0000;
}

.button_size_s {
    font-size: 12px;
    padding: 2px 4px;
}

.button.button_disabled {
    background: #444;
    color: #777;
    cursor: default;
    transform: scale(1);
}
