.tree-list {
    font-size: 16px;
}

.tree-list ul {
    margin-left: 0;
    padding-left: 20px;
}

.tree-list__number,
.tree-list__bigint {
    color: violet;
}

.tree-list__string {
    color: lightgreen;
}

.tree-list__symbol {
    color: lightblue;
}

.tree-list__boolean {
    color: violet;
}

.tree-list__null {
    color: violet;
}

.tree-list__undefined {
    color: gray;
}

.tree-list__property {
    color: lightblue;
}
