.tree-list {
    font-size: 16px;
}

.tree-list ul {
    margin: 0;
    padding: 0 0 0 1em;
}

.tree-list .tree-list__ul_padding_no {
    padding-left: 0;
}

.tree-list li {
    list-style-type: none;
}

.tree-list__undefined {
    color: gray;
}

.tree-list__number,
.tree-list__bigint,
.tree-list__boolean,
.tree-list__null {
    color: violet;
}

.page-theme_light .tree-list__number,
.page-theme_light .tree-list__bigint,
.page-theme_light .tree-list__boolean,
.page-theme_light .tree-list__null {
    color: darkviolet;
}

.tree-list__property,
.tree-list__index,
.tree-list__symbol {
    color: lightblue;
}

.page-theme_light .tree-list__property,
.page-theme_light .tree-list__index,
.tree-list__symbol {
    color: darkblue;
}

.tree-list__string {
    color: lightgreen;
}

.page-theme_light .tree-list__string {
    color: darkgreen;
}

.tree-list__inline {
    display: inline;
}
