html, body {
    background: black;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    line-height: 24px;
}

input, button, textarea, select {
    font: inherit;
}

a:link, a:visited, a:active {
    color: #009cf4;
}

a:hover {
    color: #30Acf4;
}
