.keycode {
    margin: 20px 0;
}

.keycode__description {
    margin: 1em 0;
}

.keycode__key {
    display: inline-block;
    position: relative;
    min-width: 200px;
    max-width: 90%;
    padding: 20px 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: black;
}

.keycode__key_pressed {
    background-color: gold;
    left: 2px;
    top: 2px;
}

.keycode__keydown {
    margin-top: 15px;
}
