.speech-synthesis__supported {
    margin: 0.5em 0;
}

.speech-synthesis__input {
    width: 50%;
    max-width: 400px;
}

.speech-synthesis__voice {
    margin-bottom: .8em;
}

.speech-synthesis__select {
    max-width: 15em;
}
