.mic__hear-yourself {
    margin-left: 1em;
}

.mic__canvas-container {
    position: relative;
    width: 300px;
    margin: 20px 0;
}

.mic__canvas-container::before {
    position: absolute;
    left: 50px;
    top: 40px;
    width: 100px;
    height: 100px;
    background: url('/static/icons/mic_gray.svg') center center no-repeat;
    background-size: 100% 100%;
    content: '';
}

.mic__canvas-container::after {
    position: absolute;
    left: 150px;
    top: 40px;
    width: 100px;
    height: 100px;
    background: url('/static/icons/waveform_gray.svg') center center no-repeat;
    background-size: 100% 100%;
    content: '';
}

.mic__canvas {
    display: block;

    width: 300px;
    height: 200px;

    border: 1px solid #333;
    border-radius: 10px;
}

.page-theme_light .mic__canvas {
    border-color: #ccc;
}

.mic_started .mic__canvas-container::before,
.mic_started .mic__canvas-container::after {
    display: none;
}

.mic__speak-up {
    display: none;
}

.mic__speak-up_started {
    display: block;
    animation: speak-up 3s;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    color: gold;
}

@keyframes speak-up {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
