.codec {
    display: inline-block;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    cursor: default;
}

.codec_color_black .codec__name {
    background-color: #333;
    border: 3px #333 solid;
}

.codec_border_white .codec__name {
    border: 3px solid white;
    border-radius: 5px;
    font-weight: normal;
}

.codec_color_blue .codec__name {
    background-color: #009cf4;
    border: 3px #009cf4 solid;
}

.codec_color_yellow .codec__name {
    background-color: yellow;
    border: 3px yellow solid;
    color: #000;
}

.codec_color_orange .codec__name {
    background-color: orange;
    border: 3px orange solid;
    color: #fff;
}

.codec_color_green .codec__name {
    background-color: green;
    border: 3px green solid;
    color: #fff;
}

.codec_color_red .codec__name {
    background-color: red;
    border: 3px red solid;
    color: #fff;
}

.codec_disabled .codec__name {
    opacity: .2;
    background-color: #333;
    border: 3px #333 solid;
}

body.hover_yes .codec_disabled .codec__name:hover {
    opacity: .2;
}

.codec__name {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    border-radius: 1px;
    font-weight: bold;
    padding: 3px 5px;
    margin: 5px;
}

body.hover_yes .codec__name:hover {
    opacity: .8;
}

.codec__tooltip {
    display: none;
    position: absolute;
    margin-top: 5px;
    background: white;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    z-index: 100;
    opacity: .9;
    text-align: left;
    margin-top: 3em;
    margin-left: -10px;
}

body.hover_yes .codec:hover .codec__tooltip {
    display: block;
}
