.column {
    max-width: 80%;
    margin-bottom: 20px;
}

.column__category {
    font-size: 14px;
    margin-bottom: 5px;
}

.column__category_disabled {
    color: gray;
}

.column__body {
    margin-top: 10px;
}
