.show-hide__title {
    cursor: pointer;
    display: flex;
}

.show-hide__description {
    display: none;
    max-width: 700px;
    margin: 5px 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, .05);
    font-size: .9em;
    border-radius: 3px;
}

.page-theme_dark .show-hide__description {
    background-color: rgba(255, 255, 255, .05);
}

.show-hide__body {
    margin: 0 20px 20px 0;
}

.show-hide_opened .show-hide__description {
    display: block;
}

.show-hide__plus {
    width: 1em;
    line-height: 1em;
    height: 1em;
    text-align: center;
    border: 1px dotted white;
    border-radius: 5px;
    margin: 3px 10px 0 0;
}

.page-theme_light .show-hide__plus {
    border-color: black;
}

.show-hide__plus::before {
    content: '+';
}

.show-hide__plus_opened::before {
    content: '-';
}
