.search {
    padding-left: 30px;
    background: url('/static/icons/search_light.svg') no-repeat 5px center;
    background-size: 20px 20px;
}


.page-theme_dark .search {
    background-image: url('/static/icons/search_dark.svg');
}
