.mouse {
    position: relative;
    height: 350px;
}

.mouse__body {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid rgba(255, 255, 255, .3);
    width: 150px;
    height: 300px;
    border-radius: 50px;
    background: black;
    z-index: 10;
    overflow: hidden;
}

.mouse__body::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -125px;
    top: -50px;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-image: conic-gradient(
        red,
        orange,
        yellow,
        green,
        blue,
        purple,
        red
    );
    animation: rotate 5s linear infinite;
}

.mouse__body::after {
    content: '';
    position: absolute;
    left: 3px;
    right: 3px;
    top: 3px;
    bottom: 3px;
    background-color: black;
    border-radius: 50px;
}

.mouse__wheel {
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    background: linear-gradient(
        white 0px 2px,
        black 2px 4px,
        white 4px 6px,
        black 6px 8px,
        white 8px 10px,
        black 10px 12px,
        white 12px 14px,
        black 14px 20px
    );

    transition: background-position .2s ease;
}

.mouse__wheel_direction_down {
    animation: moveGradientDown 15s linear infinite;
}

.mouse__wheel_direction_up {
    animation: moveGradientUp 15s linear infinite;
}

.mouse__left-button,
.mouse__right-button,
.mouse__middle-button,
.mouse__4-button,
.mouse__5-button {
    position: absolute;
    background: black;
    border: 2px solid white;
    z-index: 10;
}

.mouse__left-button {
    left: 10px;
    top: 10px;
    width: 60px;
    height: 100px;
    border-top-left-radius: 40px;
}

.mouse__middle-button {
    left: 63px;
    top: 40px;
    width: 20px;
    height: 40px;
    border-radius: 20px;
    z-index: 15;
}

.mouse__right-button {
    right: 10px;
    top: 10px;
    width: 60px;
    height: 100px;
    border-top-right-radius: 40px;
}

.mouse__4-button {
    left: 10px;
    top: 130px;
    width: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.mouse__5-button {
    left: 10px;
    top: 160px;
    width: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.mouse__left-button_pressed,
.mouse__right-button_pressed,
.mouse__middle-button_pressed,
.mouse__4-button_pressed,
.mouse__5-button_pressed {
    background: white;
}

.mouse__left-button_dblClick,
.mouse__right-button_dblClick,
.mouse__middle-button_dblClick,
.mouse__4-button_dblClick,
.mouse__5-button_dblClick {
    background: gold;
}

.mouse__left-button_dblClick:before,
.mouse__right-button_dblClick:before,
.mouse__middle-button_dblClick:before,
.mouse__4-button_dblClick:before,
.mouse__5-button_dblClick:before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    content: '×2';
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.mouse__text {
    display: none;
}

.mouse__wheel-arrow-up,
.mouse__wheel-arrow-down {
    position: absolute;
    display: inline-block;
    left: 64px;
    background: white;
    padding: 5px;
    color: black;
    content: '';
    width: 11px;
    height: 11px;
    font-size: 11px;
    line-height: 11px;
    border-radius: 100%;
    z-index: 20;
    vertical-align: middle;
    text-align: center;
    transition: opacity .3s ease;
    opacity: 1;
}

.mouse__wheel-arrow-up_hidden,
.mouse__wheel-arrow-down_hidden {
    opacity: 0;
}

.mouse__wheel-arrow-up:before {
    content: '↑';
}

.mouse__wheel-arrow-down:before {
    content: '↓';
}

.mouse__wheel-arrow-up {
    top: 13px;
}

.mouse__wheel-arrow-down {
    top: 90px;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
