.radio-button {
    cursor: pointer;
    user-select: none;
    background-color: #333;
    padding: 5px 7px;
    border-radius: 3px;
}

.radio-button_selected {
    background-color: white;
    color: black;
}
