.button {
    background: white;
    color: black;
    font-size: 16px;
    line-height: 1.5em;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px 9px;
    border: none;
    cursor: pointer;
    user-select: none;
    transition: background-color .3s ease;
}

.page-theme_light .button {
    border: 1px solid #aaa;
}

.button:active {
    transform: scale(0.98);
}

body.hover_yes .button:hover {
    background: #f5f5f5;
}

.button_theme_active {
    background: #ffd700;
}

body.hover_yes .button_theme_active:hover {
    background: #efc700;
}

.button_theme_red {
    background: red;
    color: white;
}

body.hover_yes .button_theme_red:hover {
    background: #ef0000;
}

.button_size_s {
    font-size: 12px;
    padding: 2px 6px;
}

body .button.button_disabled,
body.hover_yes .button.button_disabled {
    background: #444;
    color: #777;
    cursor: default;
    transform: scale(1);
    transition: none;
}

.page-theme_light body .button.button_disabled {
    color: #999;
    background-color: #f0f0f0;
}
