.radio-buttons {
    position: relative;
    display: inline-block;
    width: auto;
    font-size: 16px;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
}

.radio-buttons__label {
    margin-bottom: 5px;
}

.radio-buttons__item:first-child {
    border-radius: 5px 0 0 5px;
}

.radio-buttons__item:last-child {
    border-radius: 0 5px 5px 0;
}

@media (max-width: 700px) {
    .radio-buttons__item {
        display: block;
    }

    .radio-buttons__item:first-child {
        border-radius: 5px 5px 0 0;
    }

    .radio-buttons__item:last-child {
        border-radius: 0 0 5px 5px;
    }
}
