.radio-buttons {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
    font-size: 16px;
    white-space: nowrap;
    border: 0;
}

.radio-buttons__label {
    margin: 0 0 5px 0;
    padding: 0;
}

.radio-buttons__label_hidden {
    display: none;
}

.radio-buttons__items {
    margin: 0;
    padding: 0;
}

.radio-buttons__item {
    list-style-type: none;
    display: inline-block;
}

.radio-buttons__item:first-child {
    border-radius: 5px 0 0 5px;
}

.radio-buttons__item:last-child {
    border-radius: 0 5px 5px 0;
}

@media (max-width: 700px) {
    .radio-buttons__item {
        display: block;
    }

    .radio-buttons__item:first-child {
        border-radius: 5px 5px 0 0;
    }

    .radio-buttons__item:last-child {
        border-radius: 0 0 5px 5px;
    }
}
