.print-example__paragraph {
    max-width: 700px;
}

.print-example__image {
    max-width: 100%;
    aspect-ratio: 4 / 3;
}

@media print {
    .header, .main-menu, .footer, .print-example__button {
        display: none;
    }
}
