.index-menu {
    margin: 40px 0 0 0;
}

@media (max-width: 700px) {
    .index-menu {
        margin-top: 20px;
    }
}

.index-menu__list {
    margin: 0;
    padding: 0;
}

.index-menu__item {
    display: block;
    position: relative;
    list-style: none;
    float: left;
    box-sizing: border-box;
    background: #151515;
    border-radius: 10px;
    width: 300px;
    margin: 0 10px 10px 0;
}

.index-menu__link {
    display: block;
    font-size: 20px;
    padding: 20px 20px 20px 60px;
}

@media (max-width: 700px) {
    .index-menu__item {
        width: 100%;
        margin-right: 0;
    }
}

.index-menu__image {
    position: absolute;
    display: inline-block;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: no-repeat center center;
    background-size: 30px 30px;
}

.index-menu .link {
    transition: background-color .4s ease;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.index-menu .link:link,
.index-menu .link:visited,
.index-menu .link:hover,
.index-menu .link:active {
    text-decoration: none;
}

body.hover_yes .index-menu__item:hover  {
    background-color: #333;
}

.index-menu__clear {
    clear: both;
    margin-bottom: 10px;
}

.index-menu__keywords-list {
    margin: 55px 0 7px 15px;
    padding: 0;
}

.index-menu__keywords-item {
    margin: 0 0 0 10px;
    padding: 0;
    list-style-type: disc;
    color: gray;
    font-size: 13px;
}

.index-menu__keywords-item-container {
    text-overflow: ellipsis;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
}

.index-menu__image_type_mic {
    background-image: url('/static/icons/pages/mic.svg');
}

.index-menu__image_type_gamepad {
    background-image: url('/static/icons/pages/gamepad.svg');
}

.index-menu__image_type_mouse {
    background-image: url('/static/icons/pages/mouse.svg');
}

.index-menu__image_type_storage {
    background-image: url('/static/icons/pages/storage.svg');
}

.index-menu__image_type_screen {
    background-image: url('/static/icons/pages/screen.svg');
}

.index-menu__image_type_battery {
    background-image: url('/static/icons/pages/battery.svg');
}

.index-menu__image_type_usb {
    background-image: url('/static/icons/pages/usb.svg');
}

.index-menu__image_type_audio {
    background-image: url('/static/icons/pages/audio.svg');
}

.index-menu__image_type_video {
    background-image: url('/static/icons/pages/video.svg');
}

.index-menu__image_type_camera {
    background-image: url('/static/icons/pages/camera.svg');
}

.index-menu__image_type_network {
    background-image: url('/static/icons/pages/network.svg');
}

.index-menu__image_type_geo {
    background-image: url('/static/icons/pages/geo.svg');
}

.index-menu__image_type_fonts {
    background-image: url('/static/icons/pages/fonts.svg');
}

.index-menu__image_type_gpu {
    background-image: url('/static/icons/pages/gpu.svg');
}

.index-menu__image_type_keyboard {
    background-image: url('/static/icons/pages/keyboard.svg');
}

.index-menu__image_type_platform {
    background-image: url('/static/icons/pages/platform.svg');
}
