.keyboard-layout_type_macbook {
    border: 2px solid #333;
    width: 940px;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: #454342;
}

.keyboard-layout_type_macbook .keyboard-layout__row {
    position: relative;
    display: flex;
    margin-bottom: 5px;
    width: 1000px;
}

.keyboard-layout_type_macbook .keyboard-key__top-left-symbol {
    position: absolute;
    font-size: 16px;
    left: 8px;
    top: 8px;
}

.keyboard-layout_type_macbook .keyboard-key__top-right-symbol {
    position: absolute;
    font-size: 16px;
    right: 8px;
    top: 8px;
}

.keyboard-layout_type_macbook .keyboard-key__top-symbol {
    position: absolute;
    font-size: 16px;
    left: 8px;
    right: 8px;
    top: 8px;
}

.keyboard-layout_type_macbook .keyboard-key__bottom-symbol {
    position: absolute;
    font-size: 16px;
    left: 8px;
    right: 8px;
    bottom: 8px;
}

.keyboard-layout_type_macbook .keyboard-key__bottom-right-symbol {
    position: absolute;
    font-size: 16px;
    right: 8px;
    bottom: 8px;
}

.keyboard-layout_type_macbook .keyboard-key__bottom-left-symbol {
    position: absolute;
    font-size: 16px;
    left: 8px;
    bottom: 8px;
}

.keyboard-layout_type_macbook .keyboard-key__bottom-text {
    position: absolute;
    font-size: 12px;
    left: 8px;
    right: 8px;
    bottom: 8px;
}

.keyboard-layout_type_macbook .keyboard-key {
    display: flex;
    position: relative;
    cursor: default;
    margin-right: 5px;

    flex-wrap: wrap;
    width: 60px;
    height: 60px;

    align-content: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    line-height: 1em;

    color: white;
    background: black;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
}

.keyboard-layout_type_macbook .keyboard-key_align_left {
    text-align: left;
    justify-content: left;
}

.keyboard-layout_type_macbook .keyboard-key_align_right {
    text-align: right;
    justify-content: right;
}

.keyboard-layout_type_macbook .keyboard-key_wasPressed {
    background: white;
    color: black;
}

.keyboard-layout_type_macbook .keyboard-key_pressed {
    background: gold;
    border-color: gold;
    top: 1px;
    left: 1px;
    color: black;
}

.keyboard-layout_type_macbook .keyboard-layout__row_num_0 .keyboard-key {
    width: 65px;
    height: 30px;
    font-size: 12px;
    align-content: center;
    padding: 0 5px;
}

.keyboard-layout_type_macbook .keyboard-layout__row_num_5 {
    margin-bottom: 0;
}

.keyboard-layout_type_macbook .keyboard-layout__row_num_0 .keyboard-key_code_PowerOff {
    width: 30px;
    height: 30px;
}

.keyboard-layout_type_macbook .keyboard-key_code_Tab {
    width: 95px;
    align-content: end;
}

.keyboard-layout_type_macbook .keyboard-key_code_ShiftLeft {
    width: 70px;
}

.keyboard-layout_type_macbook .keyboard-key_code_KeyF::after,
.keyboard-layout_type_macbook .keyboard-key_code_KeyJ::after {
    position: absolute;
    left: 40%;
    bottom: 9px;
    content: '';
    width: 20%;
    height: 2px;
    background-color: white;
    opacity: .25;
}

.keyboard-layout_type_macbook .keyboard-key_code_Enter {
    border-radius: 5px 5px 0 5px;
}

.keyboard-layout_type_macbook .keyboard-key_code_Enter::after {
    position: absolute;
    content: '';
    right: -1px;
    top: 58px;
    width: 38px;
    height: 65px;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: inherit;
}

.keyboard-layout_type_macbook .keyboard-key_code_ShiftRight {
    width: 150px;
}

.keyboard-layout_type_macbook .keyboard-key_code_ShiftLeft,
.keyboard-layout_type_macbook .keyboard-key_code_ShiftRight {
    font-size: 12px;
    align-content: end;
}

.keyboard-layout_type_macbook .keyboard-key_code_Backspace {
    width: 95px;
    align-content: end;
}

.keyboard-layout_type_macbook .keyboard-key_code_CapsLock {
    width: 115px;
    align-content: end;
}

.keyboard-layout_type_macbook .keyboard-key_code_CapsLock .keyboard-key__led {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 8px;
    height: 8px;
    background-color: #333;
    border-radius: 100%;
    border: 1px solid transparent;
}

.keyboard-layout_type_macbook .keyboard-key_code_CapsLock .keyboard-key__led_on {
    background-color: YellowGreen;
    border-color: rgba(0, 0, 0, .5);
}

.keyboard-layout_type_macbook .keyboard-key_code_MetaLeft,
.keyboard-layout_type_macbook .keyboard-key_code_MetaRight {
    width: 70px;
}

.keyboard-layout_type_macbook .keyboard-key_code_Fn,
.keyboard-layout_type_macbook .keyboard-key_code_MetaLeft,
.keyboard-layout_type_macbook .keyboard-key_code_MetaRight,
.keyboard-layout_type_macbook .keyboard-key_code_AltLeft,
.keyboard-layout_type_macbook .keyboard-key_code_AltRight,
.keyboard-layout_type_macbook .keyboard-key_code_ControlLeft,
.keyboard-layout_type_macbook .keyboard-key_code_ControlRight {
    font-size: 12px;
    align-content: end;
}

.keyboard-layout_type_macbook .keyboard-key_code_Fn .keyboard-key__bottom-left-symbol {
    filter: grayscale();
}

.keyboard-layout_type_macbook .keyboard-key_code_Space {
    width: 335px;
}

.keyboard-layout_type_macbook .keyboard-key_code_ArrowLeft,
.keyboard-layout_type_macbook .keyboard-key_code_ArrowRight,
.keyboard-layout_type_macbook .keyboard-key_code_ArrowUp,
.keyboard-layout_type_macbook .keyboard-key_code_ArrowDown {
    height: 30px;
    align-self: end;
}

.keyboard-layout_type_macbook .keyboard-key_code_ArrowDown::after {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2px;
    margin-left: -5px;
    width: 0;
    height: 0;
    content: '';
    border-top: 5px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.keyboard-layout_type_macbook .keyboard-key_pressed.keyboard-key_code_ArrowDown::after {
    border-top-color: black;
}

.keyboard-layout_type_macbook .keyboard-key_wasPressed.keyboard-key_code_ArrowDown::after {
    border-top-color: black;
}

.keyboard-layout_type_macbook .keyboard-key_code_ArrowUp::after {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2px;
    margin-left: -5px;
    width: 0;
    height: 0;
    content: '';
    border-bottom: 5px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.keyboard-layout_type_macbook .keyboard-key_pressed.keyboard-key_code_ArrowUp::after {
    border-bottom-color: black;
}

.keyboard-layout_type_macbook .keyboard-key_wasPressed.keyboard-key_code_ArrowUp::after {
    border-bottom-color: black;
}

.keyboard-layout_type_macbook .keyboard-key_code_ArrowRight::after {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -4px;
    margin-left: -2px;
    width: 0;
    height: 0;
    content: '';
    border-left: 5px solid white;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.keyboard-layout_type_macbook .keyboard-key_pressed.keyboard-key_code_ArrowRight::after {
    border-left-color: black;
}

.keyboard-layout_type_macbook .keyboard-key_wasPressed.keyboard-key_code_ArrowRight::after {
    border-left-color: black;
}

.keyboard-layout_type_macbook .keyboard-key_code_ArrowLeft::after {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -4px;
    margin-left: -5px;
    width: 0;
    height: 0;
    content: '';
    border-right: 5px solid white;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.keyboard-layout_type_macbook .keyboard-key_pressed.keyboard-key_code_ArrowLeft::after {
    border-right-color: black;
}

.keyboard-layout_type_macbook .keyboard-key_wasPressed.keyboard-key_code_ArrowLeft::after {
    border-right-color: black;
}

.keyboard-layout_type_macbook .keyboard-key_code_ArrowUp {
    position: absolute;
    left: auto;
    right: 120px;
    align-self: start;
}
