.header {
    padding: 20px 0 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #222;
    font-size: 30px;
    line-height: 1.5em;
    color: white;
}

.header:hover .header__logo {
    background-color: white;
}

.header__logo {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: gold;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 5s ease;
}

.header .link:link,
.header .link:visited,
.header .link:hover,
.header .link:active {
    text-decoration: none;
}

@media (max-width: 700px) {
    .header {
        font-size: 22px;
    }

    .header__logo {
        width: 18px;
        height: 18px;
    }
}
