.header {
    position: relative;
    margin: 20px 0 20px 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5em;
}

@media (max-width: 700px) {
    .header {
        font-size: 20px;
    }
}
