.header {
    position: relative;
    margin: 20px 0 20px 0;
    font-size: 50px;
    font-weight: normal;
    line-height: 70px;
}

.header__beta-container {
    position: relative;
}

.header__beta {
    position: absolute;
    top: -15px;
    margin-left: 4px;
    color: gray;
    font-size: 12px;   
}
