.input {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    outline: none;
    transition: border-color .3s ease;
}

.page-theme_light .input {
    color: black;
    border-color: #aaa;
}

.page-theme_light .input_disabled {
    background-color: #f0f0f0;
    color: #999;
}

.page-theme_dark .input_disabled {
    background-color: #444;
    border-color: #444;
    color: #aaa;
}

.input:focus {
    border-color: gold;
}
