.input {
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    outline: none;
    transition: border-color .3s ease;
}

.page-theme_light .input {
    color: black;
    border-color: #aaa;
}

.input:focus {
    border-color: gold;
}
