html {
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    line-height: 24px;
}

html.page-theme_light {
    background-color: white;
    color: black;
}

* {
    -webkit-tap-highlight-color: transparent;
}

input, button, textarea, select {
    font: inherit;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6em;

    margin: 0;
    padding: 0 0 .5em 0;
}

.link:link, .link:visited, .link:active {
    color: #009cf4;
}

.link:hover {
    color: #30Acf4;
}

.link_theme_white:link,
.link_theme_white:visited,
.link_theme_white:hover,
.link_theme_white:active {
    color: white;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, .2);
    transition: text-decoration-color .3s ease;
}

.link_theme_white:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}

.link_theme_page-theme:link,
.link_theme_page-theme:visited,
.link_theme_page-theme:hover,
.link_theme_page-theme:active {
    color: white;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, .2);
    transition: text-decoration-color .3s ease;
}

.link_theme_page-theme:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}

.page-theme_light .link_theme_page-theme:link,
.page-theme_light .link_theme_page-theme:visited,
.page-theme_light .link_theme_page-theme:hover,
.page-theme_light .link_theme_page-theme:active {
    color: black;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, .2);
    transition: text-decoration-color .3s ease;
}

.page-theme_light .link_theme_page-theme:hover {
    text-decoration-color: rgba(0, 0, 0, 1);
}

.lang-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background: no-repeat center center;
    background-size: 100% 100%;
}

.lang-icon_lang_ru {
    background-image: url('/static/icons/flags/ru.svg');
}

.lang-icon_lang_en {
    background-image: url('/static/icons/flags/en.svg');
}

.lang-switcher-item {
    display: block;
    margin: 0;
    padding: 0;
}

.lang-switcher-item .link {
    display: block;
    padding: 5px 10px;
    white-space: nowrap;
    list-style-type: none;
    text-decoration: none;
}

.hover_yes .lang-switcher-item:hover {
    background-color: gold;
}

.lang-switcher-item .link:link,
.lang-switcher-item .link:visited,
.lang-switcher-item .link:hover,
.lang-switcher-item .link:active {
    color: white;
}

.page-theme_light .lang-switcher-item .link:link,
.page-theme_light .lang-switcher-item .link:visited,
.page-theme_light .lang-switcher-item .link:hover,
.page-theme_light .lang-switcher-item .link:active {
    color: black;
}

.hover_yes .lang-switcher-item:hover .link:link,
.hover_yes .lang-switcher-item:hover .link:visited,
.hover_yes .lang-switcher-item:hover .link:hover,
.hover_yes .lang-switcher-item:hover .link:active {
    color: black;
}

.page-theme_light .hover_yes .lang-switcher-item:hover .link:link,
.page-theme_light .hover_yes .lang-switcher-item:hover .link:visited,
.page-theme_light .hover_yes .lang-switcher-item:hover .link:hover,
.page-theme_light .hover_yes .lang-switcher-item:hover .link:active {
    color: black;
}

.lang-switcher {
    position: relative;
    cursor: pointer;
}

.lang-switcher__current {
    white-space: nowrap;
}

.lang-switcher__popup {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: black;
    border: 1px solid #333;
    border-radius: 5px;
}

.page-theme_light .lang-switcher__popup {
    background-color: white;
    border-color: #ccc;
}

.lang-switcher__popup_visible {
    display: block;
}

.footer {
    display: flex;
    margin-top: 40px;
    padding: 20px 0 10px 0;
    font-size: 16px;
    border-top: 1px solid #222;
}

.page-theme_light .footer {
    border-top: 1px solid #ddd;
}

@media (max-width: 700px) {
    .footer {
        margin-top: 20px;
    }
}

.footer__item {
    margin-right: 20px;
}

body.hover_yes .footer__item:hover span {
    transition: opacity .5s ease;
}

body.hover_yes .footer__item:hover span {
    opacity: 1;
}

.footer__item_report {
    opacity: .6;
}

.main-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.main-menu__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.main-menu__item {
    margin-bottom: 7px;
    margin-right: 20px;
    white-space: nowrap;
    list-style-type: none;
}

.main-menu__link {
    padding-bottom: 4px;
    border-bottom: 2px solid #111;
}

.page-theme_light .main-menu__link {
    border-bottom-color: #eee;
}

.main-menu__link:link,
.main-menu__link:visited,
.main-menu__link:hover,
.main-menu__link:active {
    color: white;
    text-decoration: none;
}

body.hover_yes .main-menu__link:hover, .main-menu__item_selected .main-menu__link {
    border-bottom: 2px solid white;
}

.page-theme_light .hover_yes .main-menu__link:hover, .page-theme_light .main-menu__item_selected .main-menu__link {
    border-bottom-color: black;
}

.page-theme_light .main-menu__link:link,
.page-theme_light .main-menu__link:visited,
.page-theme_light .main-menu__link:hover,
.page-theme_light .main-menu__link:active {
    color: black;
    text-decoration: none;
}

.page-theme_light body.hover_yes .main-menu__link:hover, .page-theme_light .main-menu__item_selected .main-menu__link {
    border-bottom: 2px solid black;
}

.theme-switcher {
    position: absolute;
    top: 35px;
    right: 0;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    cursor: pointer;
    background: url('/static/icons/sun.svg') center center no-repeat;
}

.theme-switcher_theme_light {
    background-image: url('/static/icons/moon.svg');
}

@media (max-width: 700px) {
    .theme-switcher {
        top: 30px;
        width: 15px;
        height: 15px;        
    }
}

.header {
    padding: 20px 0 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #222;
    font-size: 30px;
    line-height: 1.5em;
    color: white;
}

.page-theme_light .header {
    color: black;
    border-bottom-color: #ddd;
}

.header:hover .header__logo {
    background-color: white;
}

.page-theme_light .header:hover .header__logo {
    background-color: #eee;
}

.header__logo {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: gold;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 5s ease;
}

.header .link:link,
.header .link:visited,
.header .link:hover,
.header .link:active {
    text-decoration: none;
}

@media (max-width: 700px) {
    .header {
        font-size: 22px;
        padding-left: 15px;
    }

    .header__logo {
        width: 18px;
        height: 18px;
    }
}

.page-title {
    position: relative;
    margin: 10px 0 15px 0;
    padding: 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5em;
}

@media (max-width: 700px) {
    .page-title {
        font-size: 20px;
    }
}

.page {
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    z-index: 5;
}

@media only screen and (max-width: 1024px) {
    .page {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .page {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.index-menu {
    margin: 40px 0 0 0;
}

@media (max-width: 700px) {
    .index-menu {
        margin-top: 20px;
    }
}

.index-menu__list {
    margin: 0;
    padding: 0;
}

.index-menu__item {
    display: block;
    position: relative;
    list-style: none;
    float: left;
    box-sizing: border-box;
    background: #151515;
    border-radius: 10px;
    width: 300px;
    margin: 0 10px 10px 0;
}

.page-theme_light .index-menu__item {
    background: #f5f5f5;
}

.index-menu__link {
    display: block;
    font-size: 20px;
    padding: 20px 20px 20px 60px;
}

@media (max-width: 700px) {
    .index-menu__item {
        width: 100%;
        margin-right: 0;
    }
}

.index-menu__image {
    position: absolute;
    display: inline-block;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: no-repeat center center;
    background-size: 30px 30px;
}

.index-menu .link {
    transition: background-color .4s ease;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.index-menu .link:link,
.index-menu .link:visited,
.index-menu .link:hover,
.index-menu .link:active {
    text-decoration: none;
}

body.hover_yes .index-menu__item:hover  {
    background-color: #333;
}


.page-theme_light body.hover_yes .index-menu__item:hover  {
    background-color: #eee;
}

.index-menu__clear {
    clear: both;
    margin-bottom: 10px;
}

.index-menu__keywords-list {
    margin: 55px 0 7px 15px;
    padding: 0;
}

.index-menu__keywords-item {
    margin: 0 0 0 10px;
    padding: 0;
    list-style-type: disc;
    color: gray;
    font-size: 13px;
}

.index-menu__keywords-item-container {
    text-overflow: ellipsis;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
}

.index-menu__image_type_mic {
    background-image: url('/static/icons/pages/mic_dark.svg');
}

.page-theme_light .index-menu__image_type_mic {
    background-image: url('/static/icons/pages/mic_light.svg');
}

.index-menu__image_type_gamepad {
    background-image: url('/static/icons/pages/gamepad_dark.svg');
}

.page-theme_light .index-menu__image_type_gamepad {
    background-image: url('/static/icons/pages/gamepad_light.svg');
}

.index-menu__image_type_mouse {
    background-image: url('/static/icons/pages/mouse_dark.svg');
}

.page-theme_light .index-menu__image_type_mouse {
    background-image: url('/static/icons/pages/mouse_light.svg');
}

.index-menu__image_type_storage {
    background-image: url('/static/icons/pages/storage_dark.svg');
}

.page-theme_light .index-menu__image_type_storage {
    background-image: url('/static/icons/pages/storage_light.svg');
}

.index-menu__image_type_screen {
    background-image: url('/static/icons/pages/screen_dark.svg');
}

.page-theme_light .index-menu__image_type_screen {
    background-image: url('/static/icons/pages/screen_light.svg');
}

.index-menu__image_type_battery {
    background-image: url('/static/icons/pages/battery_dark.svg');
}

.page-theme_light .index-menu__image_type_battery {
    background-image: url('/static/icons/pages/battery_light.svg');
}

.index-menu__image_type_usb {
    background-image: url('/static/icons/pages/usb_dark.svg');
}

.page-theme_light .index-menu__image_type_usb {
    background-image: url('/static/icons/pages/usb_light.svg');
}

.index-menu__image_type_audio {
    background-image: url('/static/icons/pages/audio_dark.svg');
}

.page-theme_light .index-menu__image_type_audio {
    background-image: url('/static/icons/pages/audio_light.svg');
}

.index-menu__image_type_video {
    background-image: url('/static/icons/pages/video_dark.svg');
}

.page-theme_light .index-menu__image_type_video {
    background-image: url('/static/icons/pages/video_light.svg');
}

.index-menu__image_type_camera {
    background-image: url('/static/icons/pages/camera_dark.svg');
}

.page-theme_light .index-menu__image_type_camera {
    background-image: url('/static/icons/pages/camera_light.svg');
}

.index-menu__image_type_network {
    background-image: url('/static/icons/pages/network_dark.svg');
}

.page-theme_light .index-menu__image_type_network {
    background-image: url('/static/icons/pages/network_light.svg');
}

.index-menu__image_type_geo {
    background-image: url('/static/icons/pages/geo_dark.svg');
}

.page-theme_light .index-menu__image_type_geo {
    background-image: url('/static/icons/pages/geo_light.svg');
}

.index-menu__image_type_fonts {
    background-image: url('/static/icons/pages/fonts_dark.svg');
}

.page-theme_light .index-menu__image_type_fonts {
    background-image: url('/static/icons/pages/fonts_light.svg');
}

.index-menu__image_type_gpu {
    background-image: url('/static/icons/pages/gpu_dark.svg');
}

.page-theme_light .index-menu__image_type_gpu {
    background-image: url('/static/icons/pages/gpu_light.svg');
}

.index-menu__image_type_keyboard {
    background-image: url('/static/icons/pages/keyboard_dark.svg');
}

.page-theme_light .index-menu__image_type_keyboard {
    background-image: url('/static/icons/pages/keyboard_light.svg');
}

.index-menu__image_type_platform {
    background-image: url('/static/icons/pages/platform_dark.svg');
}

.page-theme_light .index-menu__image_type_platform {
    background-image: url('/static/icons/pages/platform_light.svg');
}

