html, body {
    background: black;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    line-height: 24px;
}

* {
    -webkit-tap-highlight-color: transparent;
}

input, button, textarea, select {
    font: inherit;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6em;

    margin: 0;
    padding: 0 0 .5em 0;
}

.link:link, .link:visited, .link:active {
    color: #009cf4;
}

.link:hover {
    color: #30Acf4;
}

.link_theme_white:link,
.link_theme_white:visited,
.link_theme_white:hover,
.link_theme_white:active {
    color: white;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, .2);
    transition: text-decoration-color .3s ease;
}

.link_theme_white:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}

.lang-switcher-item {
    white-space: nowrap;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.lang-switcher-item:hover {
    background-color: gold;
    color: black;
}

.lang-switcher {
    position: relative;
    cursor: pointer;
}

.lang-switcher__current .lang-switcher__emoji {
    filter: grayscale(0.1);
}

.lang-switcher__popup {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: black;
    border: 1px solid #333;
    border-radius: 5px;
}

.lang-switcher__popup_visible {
    display: block;
}

.footer {
    display: flex;
    margin-top: 40px;
    padding: 20px 0 10px 0;
    font-size: 16px;
    border-top: 1px solid #222;
}

@media (max-width: 700px) {
    .footer {
        margin-top: 20px;
    }
}

.footer__item {
    margin-right: 20px;
}

body.hover_yes .footer__item:hover span {
    transition: opacity .5s ease;
}

body.hover_yes .footer__item:hover span {
    opacity: 1;
}

.footer__item_report {
    opacity: .6;
}

.main-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.main-menu__list {
    padding: 0;
    margin: 0;
}

.main-menu__item {
    display: inline-block;
    margin-bottom: 7px;
    margin-right: 20px;
    white-space: nowrap;
    list-style-type: none;
}

.main-menu__link {
    padding-bottom: 4px;
    border-bottom: 2px solid #111;
}

.main-menu__link:link,
.main-menu__link:visited,
.main-menu__link:hover,
.main-menu__link:active {
    color: white;
    text-decoration: none;
}

body.hover_yes .main-menu__link:hover, .main-menu__item_selected .main-menu__link {
    border-bottom: 2px solid white;
}

.header {
    padding: 20px 0 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #222;
    font-size: 30px;
    line-height: 1.5em;
    color: white;
}

.header:hover .header__logo {
    background-color: white;
}

.header__logo {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: gold;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 5s ease;
}

.header .link:link,
.header .link:visited,
.header .link:hover,
.header .link:active {
    text-decoration: none;
}

@media (max-width: 700px) {
    .header {
        font-size: 22px;
    }

    .header__logo {
        width: 18px;
        height: 18px;
    }
}

.page {
    margin-left: 50px;
    margin-right: 50px;
}

@media only screen and (max-width: 1024px) {
    .page {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .page {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.index-menu {
    margin: 40px 0 0 0;
}

@media (max-width: 700px) {
    .index-menu {
        margin-top: 20px;
    }
}

.index-menu__list {
    margin: 0;
    padding: 0;
}

.index-menu__item {
    display: block;
    position: relative;
    list-style: none;
    float: left;
    background: #111;
    border-radius: 10px;
    width: 300px;
    margin: 0 10px 10px 0;
}

.index-menu__link {
    display: block;
    font-size: 20px;
    padding: 20px 20px 20px 60px;
}

@media (max-width: 700px) {
    .index-menu__item {
        float: none;
        width: 100%;
        box-sizing: border-box;
        margin-right: 0;
    }
}

.index-menu__emoji {
    position: absolute;
    display: inline-block;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    filter: grayscale(0.5);
    color: white;
    background: #222;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    line-height: 40px;
}

.index-menu .link {
    transition: background-color .4s ease;
    position: relative;
    z-index: 1;
}

.index-menu .link:link,
.index-menu .link:visited,
.index-menu .link:hover,
.index-menu .link:active {
    text-decoration: none;
}

body.hover_yes .index-menu__item:hover  {
    background-color: #333;
}

body.hover_yes .index-menu__item:hover .index-menu__emoji {
    background-color: #444;
}

.index-menu__clear {
    clear: both;
    margin-bottom: 10px;
}
