html, body {
    background: black;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    line-height: 24px;
}

* {
    -webkit-tap-highlight-color: transparent;
}

input, button, textarea, select {
    font: inherit;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6em;

    margin: 0;
    padding: 0 0 .5em 0;
}

.link:link, .link:visited, .link:active {
    color: #009cf4;
}

.link:hover {
    color: #30Acf4;
}

.link_theme_white:link,
.link_theme_white:visited,
.link_theme_white:hover,
.link_theme_white:active {
    color: white;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, .2);
    transition: text-decoration-color .3s ease;
}

.link_theme_white:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}

.lang-switcher-item {
    white-space: nowrap;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.lang-switcher-item:hover {
    background-color: gold;
    color: black;
}

.lang-switcher {
    position: relative;
    cursor: pointer;
}

.lang-switcher__current .lang-switcher__emoji {
    filter: grayscale(0.1);
}

.lang-switcher__popup {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: black;
    border: 1px solid #333;
    border-radius: 5px;
}

.lang-switcher__popup_visible {
    display: block;
}

.footer {
    display: flex;
    margin-top: 40px;
    padding: 20px 0 10px 0;
    font-size: 16px;
    border-top: 1px solid #222;
}

@media (max-width: 700px) {
    .footer {
        margin-top: 20px;
    }
}

.footer__item {
    margin-right: 20px;
}

body.hover_yes .footer__item:hover span {
    transition: opacity .5s ease;
}

body.hover_yes .footer__item:hover span {
    opacity: 1;
}

.footer__item_report {
    opacity: .6;
}

.main-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.main-menu__list {
    padding: 0;
    margin: 0;
}

.main-menu__item {
    display: inline-block;
    margin-bottom: 7px;
    margin-right: 20px;
    white-space: nowrap;
    list-style-type: none;
}

.main-menu__link {
    padding-bottom: 4px;
    border-bottom: 2px solid #111;
}

.main-menu__link:link,
.main-menu__link:visited,
.main-menu__link:hover,
.main-menu__link:active {
    color: white;
    text-decoration: none;
}

body.hover_yes .main-menu__link:hover, .main-menu__item_selected .main-menu__link {
    border-bottom: 2px solid white;
}

.header {
    padding: 20px 0 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #222;
    font-size: 30px;
    line-height: 1.5em;
    color: white;
}

.header:hover .header__logo {
    background-color: white;
}

.header__logo {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: gold;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 5s ease;
}

.header .link:link,
.header .link:visited,
.header .link:hover,
.header .link:active {
    text-decoration: none;
}

@media (max-width: 700px) {
    .header {
        font-size: 22px;
    }

    .header__logo {
        width: 18px;
        height: 18px;
    }
}

.page {
    margin-left: 50px;
    margin-right: 50px;
}

@media only screen and (max-width: 1024px) {
    .page {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .page {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.mouse {
    position: relative;
    height: 350px;
}

.mouse__body {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid rgba(255, 255, 255, .3);
    width: 150px;
    height: 300px;
    border-radius: 50px;
    background: black;
    z-index: 10;
    overflow: hidden;
}

.mouse__body::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -125px;
    top: -50px;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-image: conic-gradient(
        red,
        orange,
        yellow,
        green,
        blue,
        purple,
        red
    );
    animation: rotate 5s linear infinite;
}

.mouse__body::after {
    content: '';
    position: absolute;
    left: 3px;
    right: 3px;
    top: 3px;
    bottom: 3px;
    background-color: black;
    border-radius: 50px;
}

.mouse__wheel {
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    background: linear-gradient(
        white 0px 2px,
        black 2px 4px,
        white 4px 6px,
        black 6px 8px,
        white 8px 10px,
        black 10px 12px,
        white 12px 14px,
        black 14px 20px
    );

    transition: background-position .2s ease;
}

.mouse__wheel_direction_down {
    animation: moveGradientDown 15s linear infinite;
}

.mouse__wheel_direction_up {
    animation: moveGradientUp 15s linear infinite;
}

.mouse__left-button,
.mouse__right-button,
.mouse__middle-button,
.mouse__4-button,
.mouse__5-button {
    position: absolute;
    background: black;
    border: 2px solid white;
    z-index: 10;
}

.mouse__left-button {
    left: 10px;
    top: 10px;
    width: 60px;
    height: 100px;
    border-top-left-radius: 40px;
}

.mouse__middle-button {
    left: 63px;
    top: 40px;
    width: 20px;
    height: 40px;
    border-radius: 20px;
    z-index: 15;
}

.mouse__right-button {
    right: 10px;
    top: 10px;
    width: 60px;
    height: 100px;
    border-top-right-radius: 40px;
}

.mouse__4-button {
    left: 10px;
    top: 130px;
    width: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.mouse__5-button {
    left: 10px;
    top: 160px;
    width: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.mouse__left-button_pressed,
.mouse__right-button_pressed,
.mouse__middle-button_pressed,
.mouse__4-button_pressed,
.mouse__5-button_pressed {
    background: white;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.page-title {
    position: relative;
    margin: 10px 0 15px 0;
    padding: 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5em;
}

@media (max-width: 700px) {
    .page-title {
        font-size: 20px;
    }
}
