.theme-switcher {
    position: absolute;
    top: 35px;
    right: 0;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    cursor: pointer;
    background: url('/static/icons/sun.svg') center center no-repeat;
}

.theme-switcher_theme_light {
    background-image: url('/static/icons/moon.svg');
}

@media (max-width: 700px) {
    .theme-switcher {
        width: 15px;
        height: 15px;
    }
}
