.footer {
    display: flex;
    margin-top: 40px;
    padding: 20px 0 10px 0;
    font-size: 16px;
    border-top: 1px solid #222;
}

.footer__item {
    margin-right: 20px;
}

body.hover_yes .footer__item:hover span {
    transition: opacity .5s ease;
}

body.hover_yes .footer__item:hover span {
    opacity: 1;
}

.footer__item_report {
    opacity: .5;
}
