.cube-3d {
    margin-top: 50px;
    margin-bottom: 50px;
}

.cube-3d__side,
.cube-3d__container {
    width: 100px;
    height: 100px;
}

.cube-3d__container {
    transform-style: preserve-3d;
    animation: cube-3d-rotate 10s infinite linear;
}

.cube-3d__side {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    opacity: .7;
}

.cube-3d__side_back {
    transform: translateZ(-50px);
    background: orange;
}

.cube-3d__side_left {
    transform: translateX(-50px) rotateY(90deg);
    background: violet;
}

.cube-3d__side_right {
    transform: translateX(50px) rotateY(90deg);
    background: green;
}

.cube-3d__side_top {
    transform: translateY(-50px) rotateX(90deg);
    background: blue;
}

.cube-3d__side_bottom {
    transform: translateY(50px) rotateX(90deg);
    background: red;
}

.cube-3d__side_front {
    transform: translateZ(50px);
    background: gold;
}

@keyframes cube-3d-rotate {
    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}
