.lang-switcher {
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.lang-switcher__current .lang-switcher__emoji {
    filter: grayscale(0.1);
}

.lang-switcher__popup {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: black;
    border: 1px solid #333;
    border-radius: 5px;
}

.lang-switcher__popup_visible {
    display: block;
}
