.active-question__head {
    cursor: pointer;
    display: flex;
}

.active-question__body {
    display: none;
    margin: 0 20px 20px 30px;
}

.active-question_opened .active-question__body {
    display: block;
}

.active-question__plus {
    width: 1em;
    line-height: 1em;
    height: 1em;
    text-align: center;
    border: 1px dotted white;
    border-radius: 5px;
    margin: 3px 10px 0 0;
}

.active-question ul {
    padding: 0;
    margin: 0 0 0 20px;
}
