.radio-button {
    cursor: pointer;
    user-select: none;
    background-color: #333;
    color: white;
    padding: 5px 9px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.radio-button_selected {
    background-color: white;
    color: black;
}

.page-theme_light .radio-button_selected {
    box-sizing: border-box;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.page-theme_light .radio-button_selected:first-child {
    border-left: 1px solid #333;   
}

.page-theme_light .radio-button_selected:last-child {
    border-right: 1px solid #333;   
}
