.index-menu {
    margin: 10px 0;
}

.index-menu__item {
    display: block;
    float: left;
    padding: 20px;
    background: #111;
    border-radius: 10px;
    width: 300px;
    margin: 0 10px 10px 0;
    font-size: 20px;
}

@media (max-width: 700px) {
    .index-menu__item {
        float: none;
        width: 100%;
        box-sizing: border-box;
        margin-right: 0;
    }
}

.index-menu__emoji {
    display: inline-block;
    filter: grayscale(0.5);
    color: white;
    width: 1.5em;
}

.index-menu .link {
    transition: background-color .4s ease;
}

.index-menu .link:link,
.index-menu .link:visited,
.index-menu .link:hover,
.index-menu .link:active {
    text-decoration: none;
}

body.hover_yes .index-menu .link:hover {
    background-color: #333;
}

.index-menu__clear {
    clear: both;
    margin-bottom: 10px;
}
