.index-menu {
    margin: 10px 0;
}

.index-menu__list {
    margin: 0;
    padding: 0;
}

.index-menu__item {
    display: block;
    position: relative;
    list-style: none;
    float: left;
    background: #111;
    border-radius: 10px;
    width: 300px;
    margin: 0 10px 10px 0;
}

.index-menu__link {
    display: block;
    font-size: 20px;
    padding: 20px 20px 20px 60px;
}

@media (max-width: 700px) {
    .index-menu__item {
        float: none;
        width: 100%;
        box-sizing: border-box;
        margin-right: 0;
    }
}

.index-menu__emoji {
    position: absolute;
    display: inline-block;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    filter: grayscale(0.5);
    color: white;
    background: #222;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    line-height: 40px;
}

.index-menu .link {
    transition: background-color .4s ease;
    position: relative;
    z-index: 1;
}

.index-menu .link:link,
.index-menu .link:visited,
.index-menu .link:hover,
.index-menu .link:active {
    text-decoration: none;
}

body.hover_yes .index-menu__item:hover  {
    background-color: #333;
}

body.hover_yes .index-menu__item:hover .index-menu__emoji {
    background-color: #444;
}

.index-menu__clear {
    clear: both;
    margin-bottom: 10px;
}
