.index-menu {
    margin: 40px 0 0 0;
}

@media (max-width: 700px) {
    .index-menu {
        margin-top: 20px;
    }
}

.index-menu__list {
    margin: 0;
    padding: 0;
}

.index-menu__item {
    display: block;
    position: relative;
    list-style: none;
    float: left;
    box-sizing: border-box;
    background: #111;
    border-radius: 10px;
    width: 300px;
    margin: 0 10px 10px 0;
}

.index-menu__link {
    display: block;
    font-size: 20px;
    padding: 20px 20px 20px 60px;
}

@media (max-width: 700px) {
    .index-menu__item {
        width: 100%;
        margin-right: 0;
    }
}

.index-menu__emoji {
    position: absolute;
    display: inline-block;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    filter: grayscale(0.5);
    color: white;
    background: #222;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    line-height: 40px;
}

.index-menu .link {
    transition: background-color .4s ease;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.index-menu .link:link,
.index-menu .link:visited,
.index-menu .link:hover,
.index-menu .link:active {
    text-decoration: none;
}

body.hover_yes .index-menu__item:hover  {
    background-color: #333;
}

body.hover_yes .index-menu__item:hover .index-menu__emoji {
    background-color: #444;
}

.index-menu__clear {
    clear: both;
    margin-bottom: 10px;
}

.index-menu__keywords-list {
    margin: 55px 0 7px 15px;
    padding: 0;
}

.index-menu__keywords-item {
    margin: 0 0 0 10px;
    padding: 0;
    list-style-type: disc;
    color: gray;
    font-size: 12px;
}

.index-menu__keywords-item-container {
    text-overflow: ellipsis;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
}
