.lang-switcher-item {
    display: block;
    margin: 0;
    padding: 0;
}

.lang-switcher-item .link {
    display: block;
    padding: 5px 10px;
    white-space: nowrap;
    list-style-type: none;
    text-decoration: none;
}

body.hover_yes .lang-switcher-item:hover {
    background-color: gold;
}

body.hover_yes .lang-switcher-item:hover .link:link,
body.hover_yes .lang-switcher-item:hover .link:visited,
body.hover_yes .lang-switcher-item:hover .link:hover,
body.hover_yes .lang-switcher-item:hover .link:active {
    color: black;
}
