.camera__controls {
    margin-bottom: 15px;
}

.camera__container {
    position: relative;
    width: 100%;
    height: 0;
    border-radius: 5px;
    height: 50vh;
    min-height: 100px;
}

.camera__container_played {
    border: 1px solid #222;
}

.camera__video {
    visibility: hidden;
    width: 100%;
    height: 100%;    
}

.camera__container_played .camera__video{
    visibility: visible;
}

.camera__select {
    margin: 20px 0 20px 0;
}

.camera__params {
    margin-top: 20px;
}
