html {
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    line-height: 24px;
}

html.page-theme_light {
    background-color: white;
    color: black;
}

* {
    -webkit-tap-highlight-color: transparent;
}

input, button, textarea, select {
    font: inherit;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6em;

    margin: 0;
    padding: 0 0 .5em 0;
}
