.page {
    margin-left: 50px;
    margin-right: 50px;
}

@media only screen and (max-width: 1024px) {
    .page {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .page {
        margin-left: 10px;
        margin-right: 10px;
    }
}
